# Basic VS Code Stuff
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for VS Code
.history/

# Built VS Code Extensions
*.vsix

# Environments
.env